In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from SQL_HW_config import username, password
%matplotlib inline

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees2')
connection = engine.connect()

ImportError: cannot import name 'username' from 'SQL_HW_config' (C:\Users\Ben\Desktop\Instructions\SQL_HW_config.py)

In [ ]:
employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])

In [ ]:
employees.head()

In [ ]:
departments = pd.read_sql('select * from departments', connection)

In [ ]:
departments.head()

In [ ]:
salaries = pd.read_sql('select * from salaries', connection, parse_dates=['from_date', 'to_date'])

In [ ]:
salaries.head()

In [ ]:
dept_manager = pd.read_sql('select * from dept_manager', connection, parse_dates=['from_date', 'to_date'])

In [ ]:
dept_manager.head()

In [ ]:
dept_manager.to_date = dept_manager['to_date'].fillna(pd.to_datetime('2050-12-31'))

In [ ]:
dept_manager.head()

In [ ]:
titles = pd.read_sql('select * from titles', connection, parse_dates=['from_date', 'to_date'])

In [ ]:
titles.head()

In [ ]:
titles.to_date = titles['to_date'].fillna(pd.to_datetime('2050-12-31'))

In [ ]:
titles.head()

In [ ]:
titles.title.value_counts()

In [ ]:
employee_salaries = titles.merge(salaries, on='emp_no')

In [ ]:
employee_salaries.head()

In [ ]:
employee_salaries_df = employee_salaries[['emp_no', 'title', 'salary']]

In [ ]:
employee_salaries_df.head()

In [ ]:
employee_salaries_df.groupby('title')['salary'].mean().round(2)

In [ ]:
employee_salaries_df.hist(column='salary')
plt.xlabel("Salary Ranges")
plt.ylabel("Frequency")

In [ ]:
employees_grouped_by_title = employee_salaries_df.groupby(['title'])['salary'].mean()

employees_grouped_by_title.plot.bar()
plt.xlabel("Job Title")
plt.ylabel("Average Salary")